*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #242424;
}

li, a, button {
    font-family: monospace;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
    font-size: 19px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style-type: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease-in;
}


.nav__links li a:hover {
    color:rgb(66, 66, 156) ;
}

button {
    margin-left: 30px;
    padding: 8px 25px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.2);
}






/* 
ul {
    list-style-type: none;
}
.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
} */